POSTGRES_DB=nextcloud_db
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=db
REDIS_HOST=redis
NEXTCLOUD_DATA_DIR=/data
SMTP_HOST=mail
MAIL_FROM_ADDRESS=support
MAIL_DOMAIN=jdav-freiburg.de
SMTP_PORT=25
SMTP_NAME=
SMTP_PASSWORD=
SMTP_AUTHTYPE=PLAIN
PHP_MEMORY_LIMIT=12G
PHP_UPLOAD_LIMIT=4G
